<% provide(:title, "Guest Map") %>
<div id="guest">
  <%= render 'users/top'%>
  <div class="title">
    <h1>レビューをチェック！</h1>
    <h3><span style="color: red;">ユーザー登録</span>をして、<br class="common__sp-only">レビューを投稿してみよう！</h3>
    <%= react_component("Signup", {
              signup: users_path,
              login: login_path,
              authenticityToken: form_authenticity_token,
              title: "レビューを投稿する",})
    %>
  </div>
  <div id="google-map">
    <%= react_component("GuestMap", {
      authenticityToken: form_authenticity_token,
      currentUser: 0,
    })  %>
  </div>
  <%= render 'fadeout' %>
</div>
