//jsx共通のcss
button {
  cursor: pointer;
}
@keyframes slideInTop {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
//map.jsxのcomponent
.Googlemap {
  max-width: 1300px;
  margin: 0 auto;
  height: 90vh;
  width: 90%;
  position: relative;
  @media screen and ( max-width: 767px ){
    width: 95%;
  }
}
//hoverpin.jsx part
//hoverpin.jsxのclass="marker"部分
.marker {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  position: relative;
  width: 1.8em;
  height: 1.8em;
  background: currentColor;
  border: 0.1em solid currentColor;
  border-radius: 40% 60% 0% 100% / 40% 100% 0% 60%;
  box-sizing: content-box;
  transform: rotate(45deg);
  z-index: 3;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.marker::before {
  content: '';
  position: absolute;
  top: 18%;
  left: 18%;
  width: 0.336em;
  height: 0.336em;
  background: #fff;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
//hover-pinのclick-menu
#review_menu {
  position: relative;
  .menus {
    position: absolute;
    top: -100px;
    left: -100px;
    width: 240px;
    border: none;
    border-radius: 5px;
    z-index: 7;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    .post {
      color: white;
      background-color: yellowgreen;
      height: 30px;
      width: 240px;
      margin: 0 auto;
      padding: 5px;
      border: solid 1px white;
      border-radius: 5px 5px 0 0;
      filter: brightness(100%);
      &:hover {
        filter: brightness(80%);
      }
    }
    .menu {
      color: white;
      background-color: yellowgreen;
      height: 30px;
      width: 120px;
      margin: 0 auto;
      padding: 5px;
      border: solid 1px white;
      filter: brightness(100%);
      &:hover {
        filter: brightness(80%);
      }
    }
    .left {
      border-radius: 0 0 0 5px;
    }
    .down {
      border-radius: 0 0 5px 0;
    }
  }
}
//hoverpin.jsx の　hover part (hovertext.jsx)
#pop {
  position: relative;
  .text {
    height: 20px;
    width: 160px;
    margin: 0 auto;
    padding: 10px;
    background-color: skyblue;
    color: whitesmoke;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left: -20px;
    animation: slideInTop 1.0s;
    z-index: 5;
    p {
      margin-top: 0;
      font-size: 14px;
    }
  }
}
//hoverpin.jsx part finish

//reviewform.jsx part
.draft {
  position: relative;
  &_button {
    position: absolute;
    top: -240px;
    right: 30px;
    z-index: 4;
    background-color: #f3f3f3;
    border: none;
    animation: slideInTop 1.0s;
    z-index: 10;
  }
  &_form {
    background-color: #f3f3f3;
    padding: 10px 30px 10px 30px;
    width: 200px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    position: absolute;
    top: -245px;
    right: 20px;
    z-index: 9;
    animation: slideInTop 1.0s;
    h3 {
      font-size: 14px;
      margin-top: 10px;
    }
    .form {
      width: 100%;
      line-height: 12px;
      padding: 3px;
      margin-bottom: 10px;
      &_submit {
        cursor: pointer;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 0;
      }
    }
    .textarea{
      height: 30px;
      line-height: 14px;
      font-size: 12px;
      padding: 5px;
    }
    .labelnumber {
      display: inline-block;
    }
    .number {
      display: inline-block;
      height: 15px;
      width: 60px;
      margin-left: 20px;
    }
  }
}

//checkform.jsx part
//これはiframe内に入っていないので、z-index関係ない
#check {
  &_form {
    position: absolute;
    top: 20px;
    left: 5%;
    .check {
      position: relative;
      &_icon {
        color: blue;
        position: absolute;
        top: 12px;
        left: 5px;
      }
      &_form {
        line-height: 20px;
        height: 40px;
        width: 210px;
        padding: 10px;
        padding-left: 25px;
        border: 1px solid honeydew;
        border-radius: 20px;
        box-shadow: -3px 7px 23px 0px rgba(0,0,0,0.6);
        &:focus {
          outline: 0;
        }
      }
      &_submit {
        background-color: white;
        border: none;
        border-radius: 5px;
        position: absolute;
        top:10px;
        left: 180px;
        &:hover {
          filter: brightness(80%);
        }
      }
      @media screen and ( max-width: 767px ){
        &_submit {
        position: absolute;
        top:10px;
        left: 175px;
      }
      }
    }
  }
}

//Eachreview.jsx part
.eachreview {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 17px;
  text-align: center;
  background-color: purple;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    bottom: -8px;
    right: 17%;
    margin-left: -10px;
    border: 5px solid transparent;
    border-top: 5px solid purple;
    z-index: 0;
  }
}
//Eachreview.jsxのhover text
.windowinfo {
  position: relative;
  &_text {
    background-color: white;
    width: 200px;
    padding: 5px;
    text-align: left;
    border-radius: 5px;
    font-size: 12px;
    position: absolute;
    top: 20px;
    left: -60px;
    animation: fadeIn 1.0s;
    z-index: 5;
    p {
      padding: none;
      margin: 5px 0;
    }
    .blue {
      color: blue;
    }
  }
}
//Each reviewのclickページ　Reviewfullcontent.jsx
.contents {
  position: relative;
  .button {
    position: absolute;
    top: -190px;
    right: 30px;
    background-color: white;
    border: none;
    animation: slideInTop 1.0s;
    z-index: 10;
  }
  .editbutton {
    height: 20px;
    width: 70px;
    background-color: white;
    border: none;
    animation: slideInTop 1.0s;
    z-index: 10;
    position: absolute;
    top: -193px;
    right: 50px;
    color: blue;
    &:hover {
      text-decoration: underline;
    }
  }
  .content {
    background-color: white;
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    position: absolute;
    top: -200px;
    right: 20px;
    z-index: 9;
    animation: slideInTop 1.0s;
    &_title {
      font-size: 16px;
      font-weight: bold;
      margin: 10px 0;
    }
    &_text {
      line-height: 14px;
      font-size: 12px;
      padding: 0;
      margin: 0;
      // margin-bottom: 5px;
    }
    &_score {
      display: inline-block;
      width: 40px;
      line-height: 18px;
      font-size: 16px;
      padding: 0;
      margin: 0;
    }
    &_star {
      padding: 0;
      margin: 0;
      height: 20px;
      width: 140px;
      display: inline-block;
    }
  }
}
