button {
  cursor: pointer;
}
.Googlemap {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
}
.marker {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  position: relative;
  width: 1.2em;
  height: 1.2em;
  background: currentColor;
  border: 0.1em solid currentColor;
  border-radius: 40% 60% 0% 100% / 40% 100% 0% 60%;
  box-sizing: content-box;
  transform: rotate(45deg);
}

.marker::before {
  content: '';
  position: absolute;
  top: 18%;
  left: 18%;
  width: 0.336em;
  height: 0.336em;
  background: #fff;
  border-radius: 50%;
  box-sizing: border-box;
}
.draft {
  position: relative;
  &_button {
    position: absolute;
    top: -240px;
    right: 10px;
    z-index: 4;
    background-color: white;
    border: none;
  }
  &_form {
    background-color: white;
    padding: 30px;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    box-shadow: 2px 3px 6px black;
    position: absolute;
    top: -250px;
    right: 0;
    z-index: 3;
  }
}
