/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* common */
@media screen and (min-width:768px) {
  .common__pc-only {
    display: block;
  }
  .co.common__sp-only {
    display: none;
  }
}
@media screen and (max-width:767px) {
  .common__pc-only {
    display: none;
  }
  .co.common__sp-only {
    display: block;
  }
}
 /* header */
header {
   width:100%;
   height: 70px;
   margin: 0 auto;
   position: absolute;
   top: 0;
}
.container {
  height: auto;
  background-color: bisque;
}
ul {
  display: flex;
  flex-direction: row;
}
.link {
  padding: 10px 20px;
  display: inline-block;
  vertical-align: middle;
}
.reactheader {
  margin-left: auto;
  margin-right: 50px;
}
/*body*/
body {
  margin-top: 70px;
  height: auto;
  width: auto;
}
.wrapper {
  margin: 33px;
  margin-bottom: 10px;
  height: auto;
}
.flash {
  padding: 10px;
}
.success {
  border: 1px solid greenyellow;
  border-radius: 10px;
  color: green;
}
.danger {
  border: 1px solid red;
  border-radius: 10px;
  color: red;
}
.notice {
  border: 1px solid yellowgreen;
  border-radius: 10px;
  color: green;
}
