/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* common */
@media screen and (min-width:767px) {
  .common__pc-only {
    display: block;
  }
  .common__sp-only {
    display: none;
  }
}
@media screen and (max-width:767px) {
  .common__pc-only {
    display: none;
  }
  .co.common__sp-only {
    display: block;
  }
}

 /* headerはreact側で全て設定済みなので、ここでは何も設定しない*/

/*body*/
body, h1, h2, h3{
  height: auto;
  width: auto;
  margin: 0;
}
.required {
  color: brown;
  padding-left: 10px;
}
.flash {
  padding: 5px;
  margin: 10px;
}
.success {
  border: 1px solid #c3e6cb;
  border-radius: 10px;
  color: #155724;
  background-color: #cce5ff;
}
.danger {
  border: 1px solid #f5c6cb;
  border-radius: 10px;
  color: #721c24;
  background-color: #f8d7da;
}
.notice {
  border: 1px solid #bee5eb;
  border-radius: 10px;
  color: #0c5460;
  background-color: #d1ecf1;
}
.keyword {
  color: darkorange;
  font-weight: bold;
}

/* footer */
.footer {
  background-color: #707070;
  padding: 20px;
}
.link {
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
  color: black;
}
.link p {
  color: black;
}
