// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//new page
//共通のtop part
.top {
  height: 30px;
  width: 90%;
  display: block;
  padding: 10px 0 10px 10%;
  background-color: burlywood;
  .logo {
    height: 35px;
  }
}
#index {
  padding: 20px;
  .search {
    margin-bottom: 20px;
    h1 {
      margin-bottom: 20px;
    }
    .field {
      margin-bottom: 10px;
    }
    .actions {
      margin-bottom: 10px;
    }
  }
}
