<% provide(:title, "Map") %>
<div id="review_new">
  <%= render 'users/top'%>
  <div class="title">
    <h1>住み心地を投稿してね！</h1>
  </div>

  <div id="flash_messages"></div>

  <% if @review %>
    <%= render 'errors',  review: @review %>
  <% end %>

  <div id="google-map">
    <%= react_component("Map", {
      authenticityToken: form_authenticity_token,
      currentUser: @current_user.id,
    })  %>
  </div>
</div>
