<% provide(:title, "Map") %>
<div id="review_new">
  <%= render 'users/top'%>
  <div class="title">
    <h1>レビューを投稿してみよう！</h1>
  </div>
  <p class="description">ピンをタッチして、ピンの位置を操作できます。
  <br class="common__sp-only" /> <span><a href="/beginner#index" class="description_link">詳しい使い方はこちら</a></span></p>
  <% #flash messageを表示用 %>
  <div id="flash_message"></div>

  <% if @review %>
    <%= render 'errors',  review: @review %>
  <% end %>

  <div id="google-map">
    <%= react_component("Map", {
      authenticityToken: form_authenticity_token,
      currentUser: @current_user.id,
    })  %>
  </div>
</div>
<% #guestmapのfadeout再利用　%>
<%= render 'roots/fadeout' %>
