<div id="flash_messages">
</div>

<div class="title">
  <h1>あなたの海外経験をシェアをしよう！</h1>
</div>

<% if @review %>
  <%= render 'errors',  review: @review %>
<% end %>

</div>
<div id="google-map">
  <%= react_component("Map", {
    authenticityToken: form_authenticity_token,
  })  %>
</div>
