<div class="footer">
  <h2 class="footer_title" >お問い合わせ</h2>
  <a class="link" href="mailto:sumigokochi2020@gmail.com?subject=お問い合わせ"><p>email: sumigokochi2020@gmail.com</p></a>
  <a class="link" href="https://github.com/takaya787/rails_app"><p>created by Takaya Ebino(Github page)</p></a>
</div>
